@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  color: white;
  font-family: "Lato", sans-serif;
}

._container {
  width: 1270px;
  margin: auto;
}

@media (max-width: 1280px) {
  ._container {
    width: 1010px;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  ._container {
    width: 750px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  ._container {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 640px) {
  ._container {
    width: 320px;
    margin: auto;
  }
}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lime {
  color: #f6ff8c;
}
